body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.certformdetails{
    max-width: fit-content;
    border: 1px solid;
    margin: 20px;
    height:55vh;
}
.form{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
input{
    padding: 3px 8px;
}

button{
    float: right;
    margin: 8px;
    padding: 9px 19px;
    font-size: 15px;
    background-color:rgb(17, 150, 17);
    border-radius: 8px;
}