body{
    margin: 0px;
    padding: 0px;
}
.details-form{
    max-width:fit-content;
    border: 0.5px solid;
    margin-left: 10px;
    height:fit-content;
}
label{
    margin-left:12px;
}
input{
    margin-left: 10px;
}
.content{
    margin: 10px;
}

.imagearea img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.col1{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 10px;
}
.col1 input{
    padding:4px;
    width: 95%;
}

.col2{
    display: flex;
    /* gap: 14%; */
    justify-content: space-between;
    margin: 10px;
}
.col2 .gender{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.col2 select{
    padding:6px;
}
.col2 .dob{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.col2 .dob input{
    padding: 4px;
}
.col2 .address{
    display: flex;
    flex-direction: column;
    /* gap: 6px; */
    justify-content: space-between;
}
.address input{
    padding: 6px;
}
.col3{
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}

.col3 .phone{
    display: flex;
    flex-direction: column;
    gap: 9%;
}
.col3 .mobile{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.col3 input{
    padding: 6px;
}

.col3 .website{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.col4{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 10px;
}
.website span{
    opacity: 0.6;
}
textarea{
    padding: 10px;
    max-width: 100%;
    line-height: 1;
    border-radius: 5px;
    border: 1px solid ;
    box-shadow: 1px 1px 1px #999;
    font-family: 'Times New Roman', Times, serif;
}
.buttons{
    margin-left: 81%;
}
.buttons a{
    text-decoration: none;
}
.buttons button{
   margin: 8px;
   padding: 9px 19px;
    font-size: 15px;
   background-color:rgb(17, 150, 17);
   border-radius: 8px;
}
.buttons button:hover{
    color: white;
}