body{
    margin: 0px;
    padding: 0px;
}
.formdetails{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid;
    max-width:100%;
    display: flex;
    flex-direction:column ;
}
.form{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 6px;
}
label{
    margin: 4px;
    margin-left: 10px;
}
input{
    width: 30%;
    padding: 6px;
}
select{
    width: 32%;
    padding: 6px;
}

button{
    float: right;
    margin: 8px;
    padding: 9px 19px;
     font-size: 15px;
    background-color:rgb(17, 150, 17);
    border-radius: 8px;
}
a:hover{
    column:white;
}