body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.formdetails{
    margin: 10px;
    border: 1px solid;
    max-width: fit-content;
    height: 55vh;
}
.form{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 10px;
}
input{
    padding: 3px 8px;
}
button{
    float: right;
    margin: 8px;
    padding: 9px 19px;
     font-size: 15px;
    background-color:rgb(17, 150, 17);
    border-radius: 8px;
}