body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.formdetails{
    border: 1px solid;
    width: fit-content;
    margin: 20px;
    height: 50vh;
}
.form{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.form span{
    opacity: 0.7;
}
input{
    padding: 3px 8px;
}
button{
    float: right;
    margin: 8px;
    padding: 9px 19px;
     font-size: 15px;
    background-color:rgb(17, 150, 17);
    border-radius: 8px;
}