.main{
    display: flex;
    
}
.dashboard-vertical-nav{
    display: flex;
    flex-direction: column;
    width: 208px;
    height: 57vh;
    border:none;
    background-color:none;
    align-items:initial;
    position: relative;
    margin-left: 10px;
    margin-top: 40px;
    /* box-shadow: 2px 5px 20px rgb(119,119, 119.5); */
}
.dashboard-vertical-nav a{
    margin:22px 10px 10px 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
.profile-header{
    display: flex;
    justify-content: space-between;
}
.imagesection{
    margin-left: 23px;
}
.profile-header img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
}
.companyinfo{
    display: block;
}
.details{
    border: none;
    position: relative;
    /* margin-left: 33px; */
    margin-top: 33px;
    background-color: rgb(198, 218, 218);
    width: 90%;
    box-shadow: 2px 5px 20px rgb(119,119, 119.5);
}
.detail-info{
    margin-left: 14px;
}
label{
    display: flex;
    flex-direction: column;
    padding: 11px 0 3px 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    opacity: 0.4;
    color: black;
}
input{
    width: 50%;
    padding: 6px;
}
select{
    width: 50%;
    padding: 6px;
}
.button{
    margin-top: 8px;
    padding:1em;
    width: 8%;
    border: none;
    font-weight: bold;
    color:black;
    background-color:transparent;
    box-shadow:2px 5px 15px rgb(119,119, 119.5);
}
.button:hover{
    width:9%;
    color: rgb(11, 119, 7);
    
    
}