*{
    margin: 0;
    padding: 0;

}
body{
   background-color: rgb(228, 210, 188);
}
.navbar_flow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBEEEE;
    height: 9vh;
}
.logo img{
    height: 100px;
    width: 100px;
}
.header a{
    font-size: 20px;
   margin: 13px;
    text-decoration: none;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0px 12px 0px 0px;
}
.buttons button{
    border-radius: 11px;
    padding: 6px 11px 6px 11px;
}
.registration{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
}
.imagesection .img-registration{
    width:636px;
    height: 75vh;
}
.formfields h2{
    margin-left: 42px;
    margin-top: 6px;    
}
.formfields h4{
    margin-left: 29px;
    opacity: 0.4;
}
.formfields{
    border:none;
    background-color: antiquewhite;
    margin:0;
    height: 81vh;
}
.forminput{
    padding: 10px;
    margin-left: 10px;
}
label{
    display: block;
    align-items: center;
    padding: 10px;
}
input{
    padding: 12px 24px ;
    border-radius: 8px;
    display: block;
}
.formfields .signup{
    padding: 7px 42px;
    background-color: blanchedalmond;
    margin-left: 14px;
    margin-top: 7px;
}
.forminput p{
    margin-top:8px;
    font-size: 15px;
    opacity: 0.3;
    color: black;
}
.redirect-login{
    margin-left: 32px;
}
