body{
    margin: 0px;
    padding: 0px;
}
.footer {
    background-color: #1a1818;
  }
.footer .footercontent {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }
  
  .footer a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    margin: 7px;
    font-size: 18px;
  }
  .footer h3 {
    color: #ffffff;
  }
  .sociallinks{
    display: block;
  }
  .sociallinks .upper,
  .sociallinks .lower{
    display: grid;
    grid-template-columns: auto auto;
  }
  .footer .copyright{
    margin-left: 42%;
  }
  .copyright h3{
    color: white;
    font-size: 15px;
    word-spacing: 1px;
  }