* {
  margin: 0px;
  padding: 0px;
}
.navbarflow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbeeee;
  height: 8vh;
}
.logo img {
  height: 100px;
  width: 100px;
}
.links a {
  font-size: 20px;
  text-decoration: none;
  margin: 12px;
}
.navbutton {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  margin-right: 10px;
}
.navbutton button {
  border: none;
  align-items: center;
  background-color: #d9d9d9;
  padding: 7px 14px;
  border-radius: 8px;
}
.afterlogin img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
.afterlogin .dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.afterlogin .dropdown button {
  display: block;
  background-color: transparent;
  padding: 6px 5px;
  color: none;
  cursor: pointer;
}
.afterlogin .dropdown a {
  text-decoration: none;
  font-size: 10px;
}

.afterlogin:hover .dropdown {
  display: block;
}
.mainiamge .image {
  position: relative;
}
.image img {
  width: 100%;
  height: 550px;
  object-fit:cover;
  opacity:1;
}
.mainimage .text {
  position: absolute;
  top: 17%;
  left: 5%;
}
.mainimage .text .text1 {
  font-size: 48px;
}
.mainimage .text .text2 {
  font-size: 20px;
  color: #b4710d;
}
.searching {
  margin-top: 58px;
}
.searching input {
  padding: 10px;
  border-radius: 12px;
  background-color: white;
  opacity: 0.8;
  font-size: 14px;
}
.searching select {
  padding: 10px;
  border-radius: 12px;
  background-color: white;
  opacity: 0.6;
  font-size: 14px;
}
.searching button {
  margin: 7px;
  padding: 7px 14px;
  border-radius: 12px;
  opacity: 0.6;
}

#trendingjob {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0px 5px 20px rgb(119, 119, 119.5);
  max-width: fit-content;
}
.trendingtext {
  font-size: 37px;
  font-weight: bold;
  margin-top: 23px;
  margin-left: 12px;
}
.trendingtext span {
  color: red;
}
.trendingjob {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 2px;
  row-gap: 6px;
}
.trendingjob .cards {
  height: auto;
  width: fit-content;
  margin-left: 8px;
  background-color: #f5ecec;
  border-radius: 8px;
  margin-top: 10px;
}
.trendingjob li {
  list-style-type: none;
}
.trendingjob a {
  text-decoration: none;
  color: black;
}
.trendingjob .cards .cardscontent {
  margin-left: 6px;
  margin-top: 6px;
}
.trendingjob .cards .cardscontent .imagearea {
  display: flex;
}
.trendingjob .cards .cardscontent .imagearea .companyimg img {
  height: 45px;
  width: 45px;
  object-fit: cover;
}
.trendingjob .cards .cardscontent a button {
  margin-left: 136px;
  margin-bottom: 12px;
  background-color: green;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}
.trendingjob .cards .cardscontent a button:hover {
  color: white;
}

#featurejobs {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0px 5px 20px rgb(119, 119, 119.5);
  max-width: fit-content;
}
.featuretext {
  font-size: 37px;
  font-weight: bold;
  margin-top: 23px;
  margin-left: 12px;
}
.featuretext span {
  color: red;
}
.featurejob {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 8px;
  row-gap: 6px;
}
.featurejob .cards {
  height: auto;
  width: fit-content;
  margin-left: 8px;
  background-color: #f5ecec;
  border-radius: 8px;
  margin-top: 10px;
}
.featurejob li {
  list-style-type: none;
}
.featurejob a {
  text-decoration: none;
  color: black;
}
.featurejob .cards .cardscontent {
  margin-left: 6px;
  margin-top: 6px;
}
.featurejob .cards .cardscontent .imagearea {
  display: flex;
}
.featurejob .cards .cardscontent .imagearea .companyimg img {
  height: 45px;
  width: 45px;
  object-fit: cover;
}
.featurejob .cards .cardscontent a button {
  margin-left: 136px;
  margin-bottom: 12px;
  background-color: green;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}
.featurejob .cards .cardscontent a button:hover {
  color: white;
}

#trustedcompany {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  max-width: fit-content;
}

.carousel {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  padding: 2.5rem;
}
.items {
  animation: animate 25s linear infinite;
}
.items img {
  height: 100px;
  width: 100px;
}
.carousel:hover .items {
  animation-play-state: paused;
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  80% {
    transform: translate3d(-1800px, 0, 0);
  }
  100%{
    transform: translate3d(-1800px,0,0);
  }
}
.carousel div {
  margin: 10px;
}
.carousel div img {
  height: 100px;
  width: 100px;
}

#dreamjob {
  background-color: #d9d9d9;
  margin-top: 20px;
  margin-bottom: -15px;
  height: auto;
  display: flex;
  align-items: center;
}

#dreamjob p {
  font-size: 42px;
  margin-left: 86px;
}
#dreamjob a button {
  margin-left: 200px;
  padding: 7px 14px;
  background-color: black;
  color: whitesmoke;
  align-items: center;
  border-radius: 6px;
}

.footer {
  background-color: #1a1818;
}
.footer .footercontent {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.footer a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  margin: 7px;
  font-size: 16px;
}
.footer h2 {
  color: #ffffff;
}

.footer .copyright {
  margin-left: 550px;
}
.footer .copyright p {
  font-size: 20px;
  color: white;
  word-spacing: 1;
}
.sociallinks .upper,
.sociallinks .lower {
  display: grid;
  grid-template-columns: auto auto;
}
