*{
    margin: 0;
    padding: 0;

}
body{
   background-color: rgb(228, 210, 188);
    /* display: flex; */
   /* justify-content: center; */
   /* align-items: center; */
   /* min-height: 100vh;  */

}
.navbar_flow{
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBEEEE;


}
.one{
    color: #B4710D;
}
.logo{
    /* margin: 17px 26px 0px 45px; */
    margin-left: 16px;
    font-size: 40px;
    word-spacing: 0px;

}
.logo span{
    /* margin:0px; */
    word-spacing:0px;
    /* font-size: 30px; */
    /* color: rgb(19, 16, 16); */
}
.header a{
    font-size: 20px;
   margin: 13px;
    text-decoration: none;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: flex-end; */
    gap: 10px;
    margin: 0px 12px 0px 0px;
    /* padding: 0px 15px 24px 0px; */
    /* border-radius: 8px; */
}
.buttons button{
    border-radius: 11px;
    /* margin: 10px 11px 8px 10px; */
    padding: 6px 11px 6px 11px;
}
.registration{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.imagesection .img-registration{
    width:500px;
    height: 71vh;
}
.formfields h2{
    margin-left: 14px;
    margin-top: 6px;    
}
.formfields h4{
    margin-left: 29px;
    opacity: 0.4;
}
.formfields{
    border:none;
    background-color: antiquewhite;
    margin:0;
    height: 71vh;
}
.forminput{
    padding: 10px;
    margin-left: 10px;
}
label{
    display: block;
    align-items: center;
    padding: 10px;
}
input{
    padding: 12px 24px ;
    border-radius: 8px;
    display: block;
}
.formfields .signup{
    padding: 7px 42px;
    background-color: blanchedalmond;
    margin-left: 14px;
    margin-top: 7px;
}
.forminput p{
    margin-top:8px;
    font-size: 15px;
    opacity: 0.3;
    color: black;
}
.redirect-login{
    margin-left: 32px;
}
