* {
    margin: 0px;
    padding: 0px;
   
  }
  .navbarflow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fbeeee;
    height: 8vh;
  }
  .logo img {
    height: 100px;
    width: 100px;
  }
  .links a {
    font-size: 20px;
    text-decoration: none;
    margin: 12px;
  }
  .navbutton {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin-right: 10px;
  }
  .navbutton button {
    border: none;
    align-items: center;
    background-color: #d9d9d9;
    padding: 7px 14px;
    border-radius: 8px;
  }
  .afterlogin img {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .afterlogin .dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .afterlogin .dropdown button {
    display: block;
    background-color: transparent;
    padding: 6px 5px;
    color: none;
    cursor: pointer;
  }
  .afterlogin .dropdown a {
    text-decoration: none;
    font-size: 10px;
  }
  
  .afterlogin:hover .dropdown {
    display: block;
  }


  #main{
    margin-left: 118px;
    margin-right: 135px;
    margin-top: 20px;
}
.jobdescription{
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}
.jobsection-vert-one{
    background-color: #EFF5F9;
    max-width: 70%;

}
.upper-one{
    display: grid;
    grid-template-columns:auto auto; 
}
.companyname{
    display: flex;
    margin: 20px;
    border: 1px solid;
    width:350px;
    background-color:white;
  }
.companyname .companyname1 img{
    height: 110px;
    width: 110px;
  }

  .companyname .companyname2 p{
    margin-left: 10px;
    font-size:20px;
  }

.upper-one .expdate{
    border: 1px solid;
    width: fit-content;
    height: 30px;
    margin-top: 98px;
    /* margin-left: 127px; */
    background-color: red;
    align-content: baseline;
}

.upper-two{
    border: 1px solid;
    margin: 0px 20px;
}

.upper-two .comp-desc{
    margin: 6px;
}
.title{
  margin: 20px;
}

.upper-three{
    border: 1px solid;
    margin: 20px 20px 0px 20px;
}
.upper-three .job-spec .job-specgrid{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto;
    margin: 6px;
}
.upper-three .job-spec .job-specgrid .job-specgrid-grid{
    display: flex;
}
.upper-three .job-spec .job-specgrid .job-specgrid-grid div{
    margin: 10px;
}

.upper-four{
  border: 1px solid;
  margin: 20px 20px 0px 20px;
}
.upper-four .description h3{
  border-bottom: 1px solid;
  margin:0px 0px 0px 0px ;
  background-color: #fbeeee;
}
.upper-four p{
  margin: 10px;
}

.upper-five button{
  padding:6px 20px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background-color: green;
  border: 1px;
  font-size: 20px;
  border-radius: 4px;
}
.upper-five button:hover{
  color: white;
}

.jobsection-vert-two{
  width: 31%;
}
.jobsection-vert-two .info{
  border: 1px solid;
  margin-top: 70px;
  height: 90px;
  background-color: #EFF5F9;
}
.jobsection-vert-two .info p{
  margin: 10px;
}
.jobsection-vert-two .relatedjobtitle{
  background-color: #fbeeee;
  /* margin: 4px; */
}

.jobsection-vert-two .relatedjob{
  border: 1px solid;
  margin-top: 20px;
  background-color: #EFF5F9;
}

.jobsection-vert-two .relatedjob .relatedjob-upper{
  border: 1px solid;
  margin: 10px;
}
 .relatedjob-upper{
  display: flex;
  gap: 10px;
}

.relatedjob-upper{
  background-color: white;
}


.otherjob{
  border: 1px solid;
  margin-top: 20px;
  background-color:#EFF5F9 ;
}
.jobsection-vert-two .otherjob .otherjobtitle{
  background-color: #fbeeee;
  align-items: center;
  /* margin-left: 10px; */
}
.jobsection-vert-two .otherjob .otherjobtitle h3{
  margin-left: 35%;
}
.otherjob-upper{
  display: flex;
  gap: 10px;
  border: 1px solid;
  margin: 10px;
  background-color:white ;
}


.footer{
  margin-top: 30px;
}