.navbar_flow{
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBEEEE;
    height: 9vh;


}
.one{
    color: #B4710D;
}

.logo img{
    height: 100px;
    width: 100px;
}
.header a{
    font-size: 20px;
   margin: 13px;
    text-decoration: none;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: flex-end; */
    gap: 10px;
    margin: 0px 12px 0px 0px;
    /* padding: 0px 15px 24px 0px; */
    /* border-radius: 8px; */
}
.buttons button{
    border-radius: 11px;
    /* margin: 10px 11px 8px 10px; */
    padding: 6px 11px 6px 11px;
}